<div class="posts container" ng-controller="postsCtrl">
  <div class="row header">
    <a ui-sref="threads" class="threads-link">&lt; Back</a>
    <h1 class="post-title">{{thread.title}}</h1>
  </div>
  <div class="row post" ng-repeat="post in posts">
    <div class="col username">{{post.username}}</div>
    <div class="col body">{{post.body}}</div>
    <div class="col date_posted">{{post.date_posted | date : 'dd MMM yyyy'}}</div>
  </div>
  <div class="row">
    <div class="content-new">
      <div class="content-username">
        <input type="text"  ng-model="newpost.username" placeholder="Name" required>
      </div>
      <div class="content-body">
        <textarea ng-model="newpost.body" placeholder="Message" required></textarea>
      </div>
      <div class="content-submit">
        <button ng-click="sendPost()">Submit</button>
      </div>
    </div>
  </div>
</div>
